html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
input,
select,
p {
  margin: 0;
  padding: 0;
}

.header {
  padding: 20px;
  background-color: #1bbbb8;
}

.title {
  font-size: 3em;
  color: white;
}

.content {
  padding: 20px;
  background-color: #d1f1f0;
  /* header height + padding, etc. = 135px */
  height: calc(100vh - 135px);
}

.description {
  padding: 10px 0;
  font-size: 1.25em;
  font-style: italic;
  font-weight: normal;
}

.section {
  padding: 10px 0;
  margin: 10px 0;
}

.section_title {
  font-size: 1.5em;
}

.border {
  border-top: 1px solid grey;
}

.input_group {
  padding: 10px 0;
}

label,
input,
select {
  font-size: 1.2em !important;
}

input {
  padding: 5px;
}

.reward_message {
  font-size: 1.5em;
}
.reward_amount {
  color: red;
}

label,
input,
select {
  font-size: 1em;
}

select {
  padding: 5px 10px;
}

.button_submit {
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.5em;
  background-color: #db0fe5;
  color: white;
}

.contract_balance {
  font-size: 1.5em;
  font-weight: bold;
  color: red;
}

.outcome_section {
  padding: 20px;
  margin: 20px 0;
  font-size: 1.5em;
}
.win_section {
  background-color: lightgreen;
}
.lose_section {
  background-color: pink;
}
